{% extends 'base.html' %}
{% block title %}
    Authors list
{% endblock %}
{% block body %}
    <h1>Authors</h1>
    <div>
        {% if authors %}
            <ul>
                {% for author in authors %}
                    <li>
                        <a href="{{ url_for('users_app.user_details', user_id=author.user.id) }}">
                            {{ author.id }} ({{ author.user.email }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>No authors yet</h3>
        {% endif %}
    </div>
{% endblock %}